body {
  font-family: sans-serif;
}
.cat {
  width: 200px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px auto;
}

.cat button {
  margin-bottom: 10px;
  background: #ddf;
  border: 2px solid #669;
  padding: 10px;
  width: 200px;
}
.cat h1 {
  margin: 0px 0px 20px 0px;
  padding: 0;
}
.cat-name {
  border-bottom: 1px solid #ccc;
}
.cat-stat {
  margin-bottom: 10px;
  width: 40px;
  font-weight: bold;
}
.cat-stat-label {
  margin-left: 10px;
  white-space: nowrap;
  color: #333;
}
